Import Pandas

In [1]:
import pandas as pd

Read the `pokemon.csv` file and set the index to `['Type 1', 'Name']`

In [3]:
pokemon = pd.read_csv('pokemon.csv', index_col=['Type 1', 'Name'])
pokemon.head()

                              #  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Grass  Bulbasaur              1  Poison    318  45      49       49       65
       Ivysaur                2  Poison    405  60      62       63       80
       Venusaur               3  Poison    525  80      82       83      100
       VenusaurMega Venusaur  3  Poison    625  80     100      123      122
Fire   Charmander             4     NaN    309  39      52       43       60

                              Sp. Def  Speed  Generation  Legendary
Type 1 Name
Grass  Bulbasaur                   65     45           1      False
       Ivysaur                     80     60           1      False
       Venusaur                   100     80           1      False
       VenusaurMega Venusaur      120     80           1      False
Fire   Charmander                  50     65           1      False

Sort the pokemons by `Type 1`

In [7]:
pokemon.sort_values('Type 1', inplace=True)
pokemon

                    #    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Bug    Sewaddle   540     Grass    310   45      53       70       40
       Spinarak   167    Poison    250   40      60       40       40
       Ledian     166    Flying    390   55      35       50       55
       Nincada    290    Ground    266   31      45       90       30
       Ledyba     165    Flying    265   40      20       30       40
...               ...       ...    ...  ...     ...      ...      ...
Water  Gastrodon  423    Ground    475  111      83       68       92
       Shellos    422       NaN    325   76      48       48       57
       Floatzel   419       NaN    495   85     105       55       85
       Clamperl   366       NaN    345   35      64       85       74
       Chinchou   170  Electric    330   75      38       38       56

                  Sp. Def  Speed  Generation  Legendary
Type 1 Name
Bug    Sewaddle        60     42           5      False
       Spinarak        40     30           2      False
       Ledian         110     85           2      False
       Nincada         30     40           3      False
       Ledyba          80     55           2      False
...                   ...    ...         ...        ...
Water  Gastrodon       82     39           4      False
       Shellos         62     34           4      False
       Floatzel        50    115           4      False
       Clamperl        55     32           3      False
       Chinchou        56     67           2      False

[800 rows x 11 columns]

Select all the `Fire` pokemons that start with the letter `C`

In [15]:
fire_pokemon = pokemon.loc['Fire']
#starts_with_c = pokemon.index.str.startswith('C')

#fire_pokemon[starts_with_c]

Using `agg()` get the `max`, `min` and the `mean` of all the pokemons for the columns `['Attack', 'Defense']` and round them to 1 decimal place.

In [18]:
pokemon.agg({'Attack': ['max','min','mean'], 'Defense': ['max','min','mean']})

         Attack   Defense
max   190.00000  230.0000
min     5.00000    5.0000
mean   79.00125   73.8425

Create a function that checks the Attack of a pokemon. If the `Attack` is over 100, it should now display `'STRONG'`, if it is less than that, it should display `'WEAK'`. Update the DataFrame to display this new Attack column`

In [19]:
def strength(attack: int) -> str:
    if attack > 100:
        return 'STRONG'
    else:
        return 'WEAK'

In [21]:
pokemon['Attack'] = pokemon['Attack'].apply(strength)
pokemon

                    #    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Bug    Sewaddle   540     Grass    310   45    WEAK       70       40
       Spinarak   167    Poison    250   40    WEAK       40       40
       Ledian     166    Flying    390   55    WEAK       50       55
       Nincada    290    Ground    266   31    WEAK       90       30
       Ledyba     165    Flying    265   40    WEAK       30       40
...               ...       ...    ...  ...     ...      ...      ...
Water  Gastrodon  423    Ground    475  111    WEAK       68       92
       Shellos    422       NaN    325   76    WEAK       48       57
       Floatzel   419       NaN    495   85  STRONG       55       85
       Clamperl   366       NaN    345   35    WEAK       85       74
       Chinchou   170  Electric    330   75    WEAK       38       56

                  Sp. Def  Speed  Generation  Legendary
Type 1 Name
Bug    Sewaddle        60     42           5      False
       Spinarak        40     30           2      False
       Ledian         110     85           2      False
       Nincada         30     40           3      False
       Ledyba          80     55           2      False
...                   ...    ...         ...        ...
Water  Gastrodon       82     39           4      False
       Shellos         62     34           4      False
       Floatzel        50    115           4      False
       Clamperl        55     32           3      False
       Chinchou        56     67           2      False

[800 rows x 11 columns]

Create a new column called `Reversed` which holds each pokemon name reversed

In [25]:
reversed_name = pokemon.index.get_level_values('Name').str[::-1]
pokemon['Reversed'] = reversed_name
pokemon

                    #    Type 2  Total   HP  Attack  Defense  Sp. Atk  \
Type 1 Name
Bug    Sewaddle   540     Grass    310   45    WEAK       70       40
       Spinarak   167    Poison    250   40    WEAK       40       40
       Ledian     166    Flying    390   55    WEAK       50       55
       Nincada    290    Ground    266   31    WEAK       90       30
       Ledyba     165    Flying    265   40    WEAK       30       40
...               ...       ...    ...  ...     ...      ...      ...
Water  Gastrodon  423    Ground    475  111    WEAK       68       92
       Shellos    422       NaN    325   76    WEAK       48       57
       Floatzel   419       NaN    495   85  STRONG       55       85
       Clamperl   366       NaN    345   35    WEAK       85       74
       Chinchou   170  Electric    330   75    WEAK       38       56

                  Sp. Def  Speed  Generation  Legendary   Reversed
Type 1 Name
Bug    Sewaddle        60     42           5      False   elddaweS
       Spinarak        40     30           2      False   karanipS
       Ledian         110     85           2      False     naideL
       Nincada         30     40           3      False    adacniN
       Ledyba          80     55           2      False     abydeL
...                   ...    ...         ...        ...        ...
Water  Gastrodon       82     39           4      False  nodortsaG
       Shellos         62     34           4      False    sollehS
       Floatzel        50    115           4      False   leztaolF
       Clamperl        55     32           3      False   lrepmalC
       Chinchou        56     67           2      False   uohcnihC

[800 rows x 12 columns]

Reset the index so that only `Name` shows as the index

In [26]:
pokemon.reset_index('Type 1')

,Type 1,#,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Reversed
Name,,,,,,,,,,,,,
Sewaddle,Bug,540,Grass,310,45,WEAK,70,40,60,42,5,False,elddaweS
Spinarak,Bug,167,Poison,250,40,WEAK,40,40,40,30,2,False,karanipS
Ledian,Bug,166,Flying,390,55,WEAK,50,55,110,85,2,False,naideL
Nincada,Bug,290,Ground,266,31,WEAK,90,30,30,40,3,False,adacniN
Ledyba,Bug,165,Flying,265,40,WEAK,30,40,80,55,2,False,abydeL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Gastrodon,Water,423,Ground,475,111,WEAK,68,92,82,39,4,False,nodortsaG
Shellos,Water,422,NaN,325,76,WEAK,48,57,62,34,4,False,sollehS
Floatzel,Water,419,NaN,495,85,STRONG,55,85,50,115,4,False,leztaolF
Clamperl,Water,366,NaN,345,35,WEAK,85,74,55,32,3,False,lrepmalC
Chinchou,Water,170,Electric,330,75,WEAK,38,56,56,67,2,False,uohcnihC